{% load static %}


{% block content %}
    <div class="Section5Сalculator">
        <div>
            <div class="glassCards">
                <p class="h2">Калькулятор</p>
                <div class="row row-SectionCards">
                    <!-- Левая часть -->
                    <div class="Section5-left col-md-6">
                        <div class="Section5-left-top col-12 d-flex gap-3">
                            <div class="col col-md-6 p-0">
                                <a href="/calculator/#goods" class="d-block">
                                    <div class="cardGlass calculator-devices newGlassBg Calculator-goods-card"
                                         style="background-image: url('{% static "webapp/img/lbk_techniks.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                        <p class="h3 mb-0">Техника</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col col-md-6 p-0">
                                <a href="/calculator/#car" class="d-block">
                                    <div class="cardGlass newGlassBg Calculator-car-card"
                                         style="background-image: url('{% static "webapp/img/lamborghini.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                        <p class="h3 mb-0">Автомобиль</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Правая часть -->
                    <div class="Section5-right col col-md-6">
                        <a href="/calculator/#jewellery" class="d-block">
                            <div class="cardGlass-two newGlassBg Calculator-jewellery-card h-100 d-flex align-items-center justify-content-center"
                                 style="background-image: url('{% static "webapp/img/lbk_juvelire.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <p class="h3 mb-0 text-center">Драгоценные металлы</p>
                            </div>
                        </a>
                    </div>
                    <div class="col col-12 section-text mt-1">
                        <p class="section-p-calc">
                            💡 Узнайте сумму процентов за пользование деньгами<br>
                            прямо сейчас.<br>✔️ Для этого выберите вид имущества под залог,<br>
                            сумму и количество дней займа.<br>
                            ✔️ Нажмите «Рассчитать».<br>
                            ✔️ Расчет готов!
                        </p>
                        <a href="/calculator/" class="MainBtn">Рассчитать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}