{% load static %}

{% block content %}

    <section class="loan-info-section">
        <h2 class="services-title">Информация по Займу</h2>
        <div class="loan-info-flex-container info-zaim">
            <!-- Левая часть с табами -->
            <div class="tabs-container" style="flex: 1;">
                <div class="tabs-pagination">
                    <button class="tab-button active" data-tab="conditions">Условия</button>
                    <button class="tab-button" data-tab="requirements">Требования</button>
                    <button class="tab-button" data-tab="service">Обслуживание</button>
                </div>
                <div class="tabs-content">
                    <div class="tab-content active" id="conditions">
                        <ul>
                            <li>💥 От 0.45% в день | На срок от 1 дня;</li>
                            <li>✔️ Досрочное погашение в ЛЮБОЙ ДЕНЬ без штрафов и прочего,<br>% проценты начисляются
                                только за фактический срок займа;
                            </li>
                            <li>⛔ Никаких скрытых платежей и комиссий.</li>
                        </ul>
                    </div>
                    <div class="tab-content" id="requirements">
                        <ul>
                            <li>🙋‍♂️ Заемщик должен быть старше 18 лет;</li>
                            <li>🌍 🇧🇾 Гражданство РБ;</li>
                            <li>🚗 Автомобиль не старше 2005 года, ✔️ исправен.</li>
                        </ul>
                    </div>
                    <div class="tab-content" id="service">
                        <ul>
                            <li>📡 Мы на связи 24/7 по телефону или через личный кабинет клиента;</li>
                            <li>⏳ Запросы клиента в среднем решаются за 10 минут;</li>
                            <li>🎁 При повторных обращениях — увеличиваем максимальную сумму займа...</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Правая часть — второй блок -->
            <div class="loan-info-second-block info-dop">
                <h3>Дополнительная информация</h3>
                <p>🔥 Достаточно только паспорта, подтверждать доходы не нужно!</p>
                <ul class="info-size">
                    <li>🚩 Необязательно приезжать в офис</li>
                    <li>💰 Деньги в день обращения наличными</li>
                    <li class="phone-item">☎️ Телефон: <a href="tel:+375291234567">+375 (29) 123-45-67</a></li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}