{% load static %}

{% block content %}
    <div class="Services d-flex align-items-start gap-4">
        <!-- Текстовый блок с кнопкой -->
        <div class="section-text" style="flex: 1;">
            <p class="h2">Онлайн-оценка</p>
            <p class="section-p">
                ✔️ Получить предварительную оценку без посещения отделений компании возможно!<br>✔️ Заполните
                онлайн-форму на сайте или позвоните в контакт центр и получите оценку изделия всего за несколько
                минут.
            </p>
            <a href="/online-ocenka/" class="BtnBlue btn">Получить онлайн оценку</a>
        </div>

        <div class="squares-wrapper">
            <div class="row top-row">
                <div class="square" title="Оценить электронику"
                     style="background-image: url('{% static "webapp/img/lbk_electronics.jpg" %}'); position: relative;">
                    <span class="square-label">Оценка Электроники</span>
                </div>
                <div class="square" title="Оценить инструменты"
                     style="background-image: url('{% static "webapp/img/lbk-str-instr.jpeg" %}'); position: relative;">
                    <span class="square-label">Оценка Инструментов</span>
                </div>
                <div class="square" title="Оценить драгоценные металлы"
                     style="background-image: url('{% static "webapp/img/lbk_juvelire.jpg" %}'); position: relative;">
                    <span class="square-label">Оценка Драг металлов</span>
                </div>
                <div class="square" title="Оценить бытовую технику"
                     style="background-image: url('{% static "webapp/img/lbk_technics.png" %}'); position: relative;">
                    <span class="square-label">Оценка Бытовой техники</span>
                </div>
                <div class="square" title="Оценить автомобиль"
                     style="background-image: url('{% static "webapp/img/lbk_auto.png" %}'); position: relative;">
                    <span class="square-label">Оценить Автомобиль</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}