{% load static %}


{% block content %}
    <div class="Section10CollateralItems Services">
        <div class="container">
            <p class="h2 title">Займы под залог</p>
            <div class="row row-cols-lg-3">
                <div class="col col-md-4 item-first">
                    <a href="/zajm-pod-zalog-zolota-i-serebra/">
                        <div class="blur-card-left parallax-cards"
                             style="background-image: url('{% static 'webapp/img/fotor-ai-2025071311819.jpg' %}');">
                            <p>Займ под залог<br>золота и серебра</p>
                            <div class="darkBlur"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-md-4 item-second">
                    <a href="/tekhnika-pod-zalog/">
                        <div class="blur-card parallax-cards"
                             style="background-image: url('{% static 'webapp/img/lbk_technics.png' %}');">
                            <p>Займ под залог<br>бытовой техники</p>
                            <div class="darkBlur"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-md-4 section-text-zalog item-third">
                    <p class="h2">Предметы залога</p>
                    <p class="section-p">
                        📌 Для получения денежных средств необходимо всего лишь предоставить в залог ценное имущество
                        в
                        качестве обеспечения возврата выданных средств.
                    </p>
                    <a href="/zajmy-pod-zalog/" class="Btnyellow btn">Узнать больше</a>
                </div>
                <div class="col col-md-4 item-fourth">
                    <a href="/bytovaya-tekhnika-pod-zalog/">
                        <div class="blur-card parallax-cards"
                             style="background-image: url('{% static 'webapp/img/lbk_phones_tech.jpeg' %}');">
                            <p>Займ под залог<br>техники</p>
                            <div class="darkBlur"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-md-5 item-fifth">
                    <a href="/stroitelnyj-instrument-pod-zalog/">
                        <div class="blur-card-left parallax-cards change-high"
                             style="background-image: url('{% static 'webapp/img/lbk_instrument.jpeg' %}');">
                            <p>Займ под залог<br>строительного инструмента</p>
                            <div class="darkBlur"></div>
                        </div>
                    </a>
                </div>
                <div class="col col-md-3 item-sixth">
                    <a href="/avtolombard/">
                        <div class="blur-card parallax-cards change-high"
                             style="background-image: url('{% static 'webapp/img/lbk_auto.jpg' %}');">
                            <p>Займ под залог<br>автомобиля</p>
                            <div class="darkBlur"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}