{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <body class="lbk-disclosure-body">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Раскрытие информации ЛБК</li>
        </ol>
    </nav>
    <section class="main-bg">
        <h1 class="services-title">
            Раскрытие информации ООО "ЛОМБАРД ЛБК"
        </h1>

        <main class="lbk-disclosure-main">
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🛈 Наименование, юридический адрес, учетный номер плательщика</h2>
                <dl class="lbk-disclosure-dl">
                    <dt>Полное наименование:</dt>
                    <dd>Общество с ограниченной ответственностью «ЛОМБАРД ЛБК»</dd>
                    <dt>Сокращенное наименование:</dt>
                    <dd>ООО «ЛОМБАРД ЛБК»</dd>
                    <dt>Юридический адрес:</dt>
                    <dd>Республика Беларусь, 220040, г. Минск, ул. Комсомольская, 15а</dd>
                    <dt>Учетный номер плательщика:</dt>
                    <dd>100029301</dd>
                    <dt>📧 Электронная почта:</dt>
                    <dd><a href="mailto:lombard_lbk@mail.ru">lombard_lbk@mail.ru</a></dd>
                </dl>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Сведения о государственной регистрации</h2>
                <p>Зарегистрировано Минским горисполкомом 28 декабря 2022 в Едином государственном регистре юридических
                    лиц и
                    индивидуальных предпринимателей за № 100029301</p>
                <p><a href="/tut/" class="lbk-disclosure-link">✔️
                    Свидетельство о
                    государственной регистрации</a></p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Сведения о включении в реестр микрофинансовых организаций</h2>
                <dl class="lbk-disclosure-dl">
                    <dt>⚠️ Идентификационный код:</dt>
                    <dd>20074</dd>
                    <dt>📅 Дата включения в реестр:</dt>
                    <dd>12 июня 2015 года</dd>
                </dl>
                <p>
                    <a href="/tut/" class="lbk-disclosure-link">✔️
                        Свидетельство
                        о
                        включении в реестр микрофинансовых организаций</a>
                </p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🛈 Местонахождение, почтовый адрес, телефон, адрес электронной почты, режим
                    работы</h2>
                <dl class="lbk-disclosure-dl">
                    <dt>📬 Почтовый адрес:</dt>
                    <dd>220040, г. Минск, ул. Комсомольская, 15а</dd>
                    <dt>📍 Адрес офиса:</dt>
                    <dd>220040, г. Минск, ул. Комсомольская, 15а</dd>
                    <dt>🕔 Режим работы офиса:</dt>
                    <dd>понедельник - четверг с 09.00 до 18.00, пятница с 09.00 до 17.45, перерыв с 13:00 до 13:45</dd>
                    <dt>📧 Электронная почта:</dt>
                    <dd><a href="mailto:lombard_lbk@mail.ru">lombard_lbk@mail.ru</a></dd>
                    <dt>☎️ Телефон:</dt>
                    <dd><a href="tel:+375291234567">+375 (29) 123-45-67</a></dd>
                </dl>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🗺️ Места предоставления микрозаймов</h2>
                <p>
                    <a href="{% url 'contacts' %}" class="lbk-disclosure-link">Ломбарды ООО «ЛОМБАРД
                        ЛБК»</a>
                </p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🛈 Фонды, сформированные в соответствии с законодательством</h2>
                <p>📐 Размер уставного фонда ООО «ЛОМБАРД ЛБК»: <b>110 000 белорусских рублей</b>.</p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📜 Уставные документы</h2>
                <p><a href="/tut/"
                      class="lbk-disclosure-link">Устав ООО «ЛОМБАРД ЛБК»</a></p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🛈 Типовые формы договора микрозайма и залогового билета</h2>
                <ul class="lbk-disclosure-list">
                    <li><a href="/tut/" class="lbk-disclosure-link">🤝 Договор
                        микрозайма</a></li>
                    <li><a href="/tut/" class="lbk-disclosure-link">🎫
                        Залоговый
                        билет</a></li>
                </ul>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">🛈 Микрозаймы предоставляемые под залог ООО «ЛОМБАРД ЛБК»</h2>
                <ul class="lbk-disclosure-list lbk-disclosure-links-inline">
                    <li><a href="tut/" class="lbk-disclosure-link">✔️
                        Правила
                        предоставления микрозаймов</a></li>
                    <li><a href="tut/" class="lbk-disclosure-link">✔️
                        Положение
                        о
                        программе лояльности</a></li>
                    <li>
                        <a href="/tut/"
                           class="lbk-disclosure-link">✔️ Виды предоставляемых микрозаймов</a></li>
                </ul>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Установленные требования к ограничению сумм обязательств заемщика</h2>
                <ul class="lbk-disclosure-list">
                    <li>
                        <b>п. 6.4.</b> Сумма причитающихся микрофинансовой организации процентов, взимаемых по договору
                        микрозайма, не может превышать двукратной суммы предоставленного микрозайма.
                    </li>
                    <li>
                        <b>п. 6.7</b> Сумма неустойки по договору микрозайма не может превышатъ половину суммы
                        предоставленного микрозаима.
                    </li>
                </ul>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Оказание дополнительных платных услуг</h2>
                <p>
                    <b>п. 2.4</b> При заключении договора микрозайма, ООО "ЛОМБАРД ЛБК" и (или) третьими лицами оказание
                    дополнительных платных услуг не предусмотрено.
                </p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Досрочный возврат микрозайма</h2>
                <ul class="lbk-disclosure-list">
                    <li>
                        <b>п. 9.3.</b> Заемщик имеет право досрочного возврата микрозайма по собственной инициативе без
                        предварительного уведомления. В случае досрочного возврата микрозаима заимодавец пересчитывает
                        начисленные проценты исходя из фактического срока пользования микрозаймом. Если день
                        представления
                        денежных средств и возврата совпадают, заемщик уплачивает проценты за один день.
                    </li>
                    <li>
                        <b>п. 9.4.</b> Заимодавец вправе требовать досрочного исполнения, обеспеченного залогом
                        обязательства, в случаях, когда имущество, являющееся предметом залога, изымается у заимодавца в
                        установленном законодательными актами порядке на том основании, что в действительности
                        собственником
                        этого имущества является другое лицо, либо в виде санкций за совершенное преступление или иное
                        правонарушение, и залог в отношении этого имущества прекращается. В случае досрочного возврата
                        микрозайма заимодавец пересчитывает начисленные проценты исходя из фактического срока
                        пользования
                        микрозаймом.
                    </li>
                </ul>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">📖 Сведения о совершаемых иных видах деятельности</h2>
                <p>
                    По адресам мест предоставления микрозаймов, которые внесены в Торговый реестр Республики Беларусь,
                    ООО
                    «ЛОМБАРД ЛБК» осуществляет комиссионную торговлю товарами в соответствии с Правилами комиссионной
                    торговли непродовольственными товарами, утвержденными постановлением Совета Министров Республики
                    Беларусь от 01.06.2007 г. № 744 (с учетом изменений и дополнений). На комиссию для дальнейшей
                    реализации
                    принимаются товары согласно перечню, согласованного с исполнительным комитетом по месту нахождения
                    комиссионного магазина. Согласованный перечень товаров размещается на информационных стендах
                    комиссионного магазина.
                </p>
                <p>
                    Прием от населения драгоценных металлов по договорам комиссии и розничную торговлю изделиями из
                    драгоценных металлов и камней ООО «ЛОМБАРД ЛБК» осуществляет на основании специального разрешения
                    (лицензии) № 2421000008737 от 30.11.2021 г., выданного Министерством финансов Республики Беларусь.
                </p>
                <p>
                    <a href="tut/" class="lbk-disclosure-link">🍀 Лицензия
                        Министерства финансов</a>
                </p>
            </section>
            <section class="lbk-disclosure-section">
                <h2 class="lbk-disclosure-h2">♻️ Финансовая отчетность</h2>
                <div class="lbk-disclosure-financial-block">
                    {% for report in reports %}
                        <div class="lbk-disclosure-financial-year">
                            <span class="lbk-disclosure-link">
                                🛈 {{ report.name }} {{ report.year }}
                            </span>
                            <ul class="lbk-disclosure-list lbk-disclosure-links-inline">
                                <li>
                                    <a href="{{ report.balance_pdf.url }}" class="lbk-disclosure-link" target="_blank"
                                       rel="noopener">
                                        ⚖️ Бухгалтерский баланс
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ report.notes_pdf.url }}" class="lbk-disclosure-link" target="_blank"
                                       rel="noopener">
                                        💡 Примечания к балансу
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ report.profit_loss_pdf.url }}" class="lbk-disclosure-link"
                                       target="_blank"
                                       rel="noopener">
                                        📝 Отчет о прибылях и убытках
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ report.capital_change_pdf.url }}" class="lbk-disclosure-link"
                                       target="_blank" rel="noopener">
                                        📝 Отчет об изменении собственного капитала
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ report.cash_flow_pdf.url }}" class="lbk-disclosure-link" target="_blank"
                                       rel="noopener">
                                        📝 Отчет о движении денежных средств
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </main>
    </section>
    </body>
{% endblock %}