{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/catalog/">О нас</a></li>
        </ol>
    </nav>

    <section class="main-bg">
        <div class="about-info order-1 container">
            <!-- Первый блок: текст слева, фото справа -->
            <div class="sercives-info sercives-info-1 col-12 col-sm-12">
                <div class="row" style="display: flex; align-items: center; gap: 30px;">
                    <div class="sercives-info-left sercives-info-left-1" style="flex: 1; padding-right: 20px;">
                        <h3 class="about-h3">Ломбард ЛБК –
                            быстрые займы под залог</h3>
                        <p>
                            Вас приветствует компания «Ломбард ЛБК»!<br/>
                            ООО «Ломбард ЛБК» основано в 1992 году. Мы помним, каким был наш первый ломбард. Небольшое
                            помещение с окошком в те времена часто вызывало ассоциации с драматическим произведением
                            известного классика и его старушкой-процентщицей. Это все в прошлом… Мы росли и развивались,
                            открывали новые отделения, внедряли передовые технологии, учились и стремились к постоянному
                            повышению качества наших услуг. Сегодня Ломбард ЛБК — крупнейшая и разветвленная сеть
                            современных финансовых учреждений, предоставляющих быстрые и доступные микрозаймы под залог
                            в Беларуси.<br/>
                            Но мы не смогли бы пройти этот путь без наших клиентов. Пенсионеры и студенты,
                            предприниматели и домохозяйки, представители различных социальных групп и профессий
                            ежедневно доверяют нам свое имущество и оформляют займы под залог в ломбардах Ломбард ЛБК. В
                            основном это люди среднего достатка, находящиеся в ситуации, когда срочно необходимы деньги.
                            У каждого своя история, свои ценности, свои мечты и потребности. Для нас каждый клиент имеет
                            значение.
                        </p>
                        <p class="tablet-text mobile-text">
                            ⚠️ Мы гарантируем профессиональную и достоверную оценку по отношению к реальной рыночной
                            стоимости представленных к покупке изделий.
                        </p>
                    </div>
                    <div class="about-info-img about-info-img-1 info-img" itemscope
                         itemtype="https://schema.org/ImageObject" style="flex: 1; height: 413px;">
                        <img src="{% static 'webapp/img/lbk.png' %}" alt="О нас" itemprop="contentUrl"
                             style="width: 100%; height: 100%; box-shadow: 0 0 25px rgb(17 15 1 / 68%); object-fit: cover; border-radius: 10px;"/>
                        <span hidden itemprop="name">О нас</span>
                    </div>
                </div>
            </div>

            <!-- Второй блок: фото слева, текст справа -->
            <div class="sercives-info sercives-info-2 col-12 col-sm-12" style="margin-top: 60px;">
                <div class="row" style="display: flex; flex-direction: row-reverse; align-items: center; gap: 30px;">
                    <div class="sercives-info-left sercives-info-left-two sercives-info-left-2" style="flex: 1; padding-left: 20px;">
                        <h3>Почему наши клиенты выбирают ломбарды ООО «Ломбард ЛБК»?</h3><br/>
                           <p> ✔️ Ломбард ЛБК – это ОТНОШЕНИЕ<br/>
                            Мы умеем понять каждого клиента и знаем, как помочь в решении временных финансовых
                            проблем.<br/>
                            ✔️ Ломбард ЛБК – это ОТКРЫТОСТЬ<br/>
                            Мы работаем абсолютно прозрачно и предоставляем микрозаймы на выгодных условиях<br/>
                            ✔️ Ломбард ЛБК – это ОПЕРАТИВНОСТЬ<br/>
                            Мы ценим время наших клиентов и готовы предоставить деньги за 15 минут
                        </p>

                        <h5>
                            ❤️ МЫ РЯДОМ ВО ВСЕ ВРЕМЕНА!
                        </h5>

                        <p style="font-size: 1.2em; margin-bottom: 10px;">
                            Найти свой ломбард можно 👉 <a href="/adresa-lombardov/">Здесь</a>
                        </p>

                        <a href="/informaciya-o-kompanii/"
                           style="font-size: 1em; color: #007bff; text-decoration: underline;">
                            🗝️ Раскрытие информации ООО "Ломбард ЛБК"
                        </a>
                    </div>
                    <div class="about-info-img info-img about-info-img-2" itemscope
                         itemtype="https://schema.org/ImageObject" style="flex: 1; height: 480px;">
                        <img src="{% static 'webapp/img/lbk_about.jpeg' %}" alt="О нас" itemprop="contentUrl"
                             style="width: 100%; height: 100%; object-fit: cover; box-shadow: 0 0 25px rgb(17 15 1 / 68%); border-radius: 10px;"/>
                        <span hidden itemprop="name">О нас</span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="section-divider">

        <div class="steps order-4 container">
            <h2 class="services-title">Наши преимущества</h2>
            <div class="steps-items steps-items-1">
                <div class="row">
                    <div class="step-item col-5 col-md-3">
                        <div class="step-item-img">
                            <img src="{% static 'webapp/icons/lbk_stavka.gif' %}" alt="Иконка Ломбард ЛБК"/>
                        </div>
                        <p>Низкая процентная ставка</p>
                    </div>

                    <div class="step-item col-5 col-md-3">
                        <div class="step-item-img step-item-img-doc">
                            <img src="{% static 'webapp/icons/lbk_noperson.gif' %}" alt="Иконка Ломбард ЛБК" />
                        </div>
                        <p>Доступные займы без поручителей</p>
                    </div>

                    <div class="step-item col-5 col-md-3">
                        <div class="step-item-img">
                           <img src="{% static 'webapp/icons/lbk_individual.gif' %}" alt="Иконка Ломбард ЛБК" />
                        </div>
                        <p>Индивидуальный подход</p>
                    </div>

                    <div class="step-item col-5 col-md-3">
                        <div class="step-item-img">
                            <img src="{% static 'webapp/icons/lbk_rocket.gif' %}" alt="Иконка Ломбард ЛБК" />
                        </div>
                        <p>Быстрое рассмотрение заявки</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="section-divider">

        {% include 'webapp/sections_main/icons_main.html' %}
    </section>


{% endblock %}