{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <main class="main-bg main-content">
        <br><br>
        <h2 class="top-m advertisement-index-title"><a href="#info">💥 Оформи залог за 5 минут и получи до 97% от ее Оценочной стоимости! 👇👇👇</a></h2>

        {% include 'main/main_slider.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/icons_main.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/products_section.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/about_section.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/info_zaim_section.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/price_online.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/calculation_section.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/zaim_zalog_section.html' %}

        <hr class="section-divider">

        {% include 'webapp/sections_main/prices_metal_section.html' %}

        <hr class="section-divider">
        {% include 'webapp/sections_main/news_section.html' %}
        <hr class="section-divider">

        {% include 'webapp/sections_main/adress_section.html' %}

        <hr class="section-divider">
        <h2 class="services-title-footer">
            <a href="#info">
               ✔️ Пишите, звоните, оформляйте заявки - мы решим ваши проблемы с финансами! 🤝
            </a>
        </h2>

    </main>
{% endblock %}
